.body{
   background-color: beige; 
   border:5px solid purple;
       
}

.h1{
    text-align: center;
    margin: 10px;
}

header{
    width: 100%;
    height: 100px;
    background-color: burlywood;
}

aside{
    width:100%;
    height: 50px;
    background-color: bisque;
}

footer{
    width:100%;
    height:500px;
    background-color: black;
}


.player{
    width: 630px;
    height: 480px;
    
}
button{
    margin: 18px 10px;
    float: left;
}