.hi{
    text-align: center;
}

td{
    text-align:left;
    width:auto;
    height: auto;
    word-break: break-all;
}
table{
    width:100%;
    height: 100%;
    float: center;
}
img{
    width: 100px;
    height: 100px;
}

.hello{
    background-color: gainsboro;
    text-align: center;
}